@import url(./fonts.css);
*{
    box-sizing: border-box;
}
* a{
    text-decoration: none;
}
* input, select{
    border: none;
    outline: none;
}
body{
    background-size: cover;
    margin: 0;
    background-color: #141414;
}
header{
    margin: 0 auto;
    width: 1550px;
    background-color: #141414;
}
main{
    margin: 0 auto;
    width: 1550px;
    background-color: #141414;
}
.container{
    width: 1330px;
    margin: 0 auto;
}
.section-main .container .navigation{
    padding: 30px;
}
.profile i{
    margin-top: 18px;
    color: black;
}
.right{
   
    display: flex;
    justify-content: space-between;
}
.right .he{
    display: flex;
    align-items: center;
    margin: 15px;
}
.nav-row .right a{
    font-family:  Golos-Text_Bold;
    color: white;
    margin-left: 10px;

}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #c5c5c5;

    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-row .left{
    display: flex;
    justify-content: space-between;
}
.nav-row .left a{
    font-family: Golos-Text_Bold;
    color: white;
    margin-left: 30px;
}
.nav-row2{
    display: flex;
    justify-content: center;
    align-items: center;

}
.haract{ 
    display: flex; 
    padding-left: 10px;
    align-items: center;
    
} 
.neznakomec .haract p{ 
    font-family: Golos-Text_Regular; 
    margin-right: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: #c5c5c5;
}
.neznakomec{
    background-image: url(../images/1.jpg);
    background-size: cover;
    width: 1350px;
    height: 700px;
    display: flex;
    align-items: center;
  
}
.neznakomec h1{
    font-family:  Golos-Text_Bold;
    font-weight: 800;
    font-size: 55px;
    margin: 0;
    color: white;
}
.neznakomec p{
    font-family:  Golos-Text_Bold;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    color: #c5c5c5;
    padding-bottom: 70px;
    margin-top: -50px;
}

.neznakomec .title{
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 40px;
    flex-direction: column;
}
.title a{
    padding: 18px 30px;
    border-radius: 10px;
    background-color: #2a59eb;
    outline-offset: 4px;
    font-family:  Golos-Text_Bold;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin: 5px;
}
.knopki img{
    margin-right: 10px;
}
.cards-cat{
    display: flex;
    justify-content: space-between;
}
.title-cat h2{
    font-family:  Golos-Text_Bold;
    font-weight: 500;
    font-size: 45pt;
    margin: 0;
    margin-bottom: 50px;
    color: white;
}
.section-categories{
    padding-top: 150px;
}
.cards h3{
    font-family:  Golos-Text_Bold;
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.cards p{
    font-family:  Golos-Text_Bold;
    font-weight: 600;
    font-size: 20px;
    margin-top: -20px;
    color: #c5c5c5;
}

.kosmos{
    margin-top: 100px;
    background-image: url(../images/6.jpg);
    background-size: cover;
    width: 1350px;
    height: 700px;
    display: flex;
    align-items: center;
  
}
.kosmos h1{
    font-family:  Golos-Text_Bold;
    font-weight: 800;
    font-size: 55px;
    margin: 0;
    color: white;
}
.kosmos p{
    font-family:  Golos-Text_Bold;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    color: #c5c5c5;
    padding-bottom: 70px;
    margin-top: 30px;
}

.kosmos .title{
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 40px;
    flex-direction: column;
}
.title .knopka a{
    padding: 18px 30px;
    border-radius: 20px;
    background-color: #fd5a2c;
    outline-offset: 4px;
    font-family:  Golos-Text_Bold;
    color: white;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px
}
.bessonnica{
    margin-top: 10px;
    background-size: cover;
    width: 550px;
    height: 400px;
    display: flex;
    align-items: center;
  
}

.bessonnica h1{
    font-family:  Golos-Text_Bold;
    font-weight: 800;
    font-size: 55px;
    margin: 0;
    color: white;
}
.bessonnica p{
    font-family:  Golos-Text_Bold;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    color: #c5c5c5;
    padding-bottom: 70px;
}

.bessonnica .title{
    display: flex;
    align-items: flex-start;
    margin-top: 100px;
    margin-left: 0px;
    flex-direction: column;
}
.kartinka{
    margin-left: 690px;
    margin-top: -350px;

}
.but-treners{
    display: flex;
    justify-content: space-between;
    width: 41%;
    margin-top: 80px;
    margin-left: 100PX;
}
.but-treners a{
    background-color: white;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: Golos-Text_Bold;
    border-radius: 8px;
}
.but-treners a:nth-child(1){
    background-color: #3586ff;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    font-family: Golos-Text_Bold;
    border-radius: 8px;
}
.but-treners a:nth-child(2){
    padding-left: 30px;
    padding-right: 30px;
}
#inputer1:checked ~ #label01,
#inputer2:checked ~ #label02,
#inputer3:checked ~ #label03{
    color: white;
    transition: .3s;
    font-family: Golos-Text_Bold;
}
.but-treners  label{
    font-family: Golos-Text_Bold;
    border-radius: 5px;
    width: 25%;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color:#686767;
    padding: 20px;
    text-align: center;
    margin-right: 20px;
    transition: .3s;
}
.but-treners  label:hover{
    transition: .3s;
    box-shadow: inset 0 0 10px 1px #3586ff;
}
.but-treners input[type=radio]{
    display: none;
}
.text-11{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 150px
}
.text-11 P{
    font-family:  Golos-Text_Bold;
    font-weight: 500;
    font-size: 17px;
    margin: 0;
    color: #c5c5c5;
    padding-bottom: 70px;
    margin-left: 120px;
}
.kto-to{
    margin-bottom: 130px;
    margin-right: 427px;
}
.kto-to2{
   margin-top: -470px;
    margin-left: 350px;
}
.Samuel{
    margin-top: 15px;
}
.Samuel2{
    margin-top: 15px;
}
.opisanie-detali{
    margin-top: -90px;
}
.livetv h4{
    font-family:  Golos-Text_Bold;
    font-weight: 800;
    font-size: 30px;
    margin: 0;
    color: white;
}
.livetv p{
    font-family:  Golos-Text_Bold;
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    color: #c5c5c5;
    padding-bottom: 70px;
}

.livetv .title{
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 40px;
    flex-direction: column;
}
.livetv h1{
    font-family:  Golos-Text_Bold;
    font-weight: 800;
    font-size: 30px;
    margin: 0;
    color: #3586ff;
}
.title11{
    margin-bottom: 130px;
    margin-right: 427px;
}
.title22{
   margin-top: -390px;
    margin-left: 350px;
}
.title11{
    margin-top: 15px;
}
.livetv{
    margin-left: 700px;
}
.kartinka11{
    margin-top: -500px;
}
.what{
    margin-top: -50px;
}
.all-form-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.title-plan{
    text-align: center;
}
.title-plan h1{
    color: white;
    font-size: 40px;
    font-family: Golos-Text_Bold;
    padding-top: 50px;
}
.title-plan p{
    color: white;
    font-size: 16px;
    font-family: Golos-Text_Bold;   
    margin-top: 15px; 
}
.name-phone{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.name{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.phone{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.e-mail{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form label{
    color: white;
    font-family: Golos-Text_Bold;

}
.tsel{
    color: white;
    font-family: Golos-Text_Bold;
    margin-top: 20px;
}
.tsel-imp{
    display: flex;
    align-items: center;
    justify-content: space-between;   
}
form button{
    background-color: #3586ff;
    outline-offset: 4px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    font-family: Golos-Text_Bold;
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 50%;
    border: none;
    cursor: pointer;
}
.knopo4ka{
    display: flex;
    align-items: baseline;
    margin-right: 500px;
}
.all-fut{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-bottom: 40px;
}
.all-fut p{
    font-family: Golos-Text_Bold;
    color: white;
}
.social{
    display: flex;
    justify-content: space-between;
}
.social img{
    margin-right: 20px;
}
.all-fut a{
    text-decoration: underline;
    color: white;
    font-family: Golos-Text_Bold;
}
* input {
    border: 1px solid white;
    background: none;
    border-radius: 5px;
    height: 45px;
    padding: 0;
}
.personal-plan{
    margin-right: 900px;
}
.form-pod h2{
    color: white;
    font-size: 48px;
    font-family: Golos-Text_Bold;
    margin-bottom: 10px;
}
.form-pod{
    margin-bottom: 50px;
}
.form-pod p{
    color: #c5c5c5;
    font-family: Golos-Text_Regular;
    margin-bottom: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
.forms-podpiska{
    width: 35%;
}
form input{
    background: none;
    border: 1px solid #979797;
    margin-bottom: 15px;
}
form label{
    color: #c5c5c5;
    font-family: Golos-Text_Regular;
    margin-bottom: 4px;
}
.name-phone{
    display: flex;
    flex-direction: column;

}
.name-phone input{
    height: 30px;
    width: 85%;
}
.sogl-obr input{
    margin-top: 10px;
    margin-bottom: 30px;
}
button{
    color: white;
    width: 50%;
    background-color: #2a59eb;
    padding: 16px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-family: Golos-Text_Regular;
}
.stoimost{
    display: flex;
    margin-left: 300px;
}
.block-stoi{
    background: linear-gradient(to right, #1C2435, #262F39);
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 90px;
    margin-bottom: 30px;
    border-radius: 8px;
}
.all-form{
    display: flex;
    margin-bottom: 70px;
}
.stoimost p{
    color: white;

}
.stoimost h3{
    color: #0052d4;
    font-family: Golos-Text_Bold;
    font-size: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.all-fut{
    display: flex;
    justify-content: space-between;
}
footer{
    background-color: #242424;
}
.all-fut p{
    color: #c5c5c5;
    font-family: Golos-Text_Regular;

    margin-right: 10px;
}
.text-fut{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;    
}
.all-fut a{
    color: #c5c5c5;
    font-family: Golos-Text_Regular;
    text-decoration: underline;

}
.icons{
    display: flex;
    justify-content: space-between;
}
.icons img{
    margin-right: 15px;
}




@media screen and (max-width: 480px){
    .container{
        width: 100%;
    }
    .navigation {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    } 
    .navigation .nav-row{
        width: 70%;
        display: flex;
        justify-content: center;
    }
    .navigation .nav-row .logo img{
        width: 30%;
    }
    .navigation .nav-row .left ul{
        padding-left: 5px;
    }
    .navigation .nav-row .left ul li{
        font-size: 12px;
    }
    .right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .right a{
        font-size: 10px;
    }
    .right img{
        width: 30%;
    }
    .neznakomec h1{
        font-size: 44px;
        padding-left: 20px;
        padding-top: 50px;
    }
    .haract{
        padding-left: 22px;
    }
    .haract p{
        font-size: 14px;
        margin-right: 7px;
    }
    .buttons{
        padding-left: 20px;
        display: flex;
        align-items: center;
    }
    .buttons a{
        padding: 10px;
        font-size: 12px;
        font-family: Golos-Text_DemiBold;
    }


    .section-categories h2{
        font-size: 30px;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .title-cat{
     margin-right: 1100px;
    }
    .cards-cat .cards{
        width: 100%;
        align-items: center;
    }
    .cards-cat{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
    .cards-cat .cards p{
        margin-bottom: 20px;
        align-items: center;
    }
    .all-open .first-open{
        display: flex;
        flex-direction: column-reverse;
    }
   
    
    .buttons-open{
        margin-left: 10px;
        display: flex;
        flex-direction: row-reverse;
    }
    .buttons-open a{
        font-size: 14px;
        padding: 10px;
    }
    .open-second{
        display: flex;
        flex-direction: column;
    }
    .text-11{
        width: 100%;
        margin-left: -100px;
    }
    .text-11 p{
        font-size: 14px;
        width: 100%;
    }
    .text-11 .but-treners{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .opisanie-detali{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        margin-left: 10px;
    }
    .opisanie-detali img{
        width: 47%;
    }
    
    .Samuel2{
        flex-wrap: wrap;
        width: 100%;
        display: flex;
        margin-left: -910px;
    }
    .photo-about img{
        width: 80%;
        margin-left: 50px;
        margin-top: 10px;
    }
    .all-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-block-about h2{
        font-size: 23px;

        text-align: center;
    }
    .text-block-about{
        margin-left: 10px;
    }
    .text-block-about p{
        font-size: 14px;
    }
    .millions{
        display: flex;
        flex-wrap: wrap;
    }
    .first-sec{
        display: flex;
        justify-content: space-between;
    }
    .first-sec .films-ser-tis{
        margin-left: 20px;
    }
    .ostal-two{
        display: flex;
        justify-content: space-between;
    }
    .prosmotr{
        margin-left: 20px;
    }
    .all-form{
        display: flex;
        flex-direction: column;
    }
    .forms-podpiska{
        width: 100%;
        margin-left: 15px;
    }
    .stoimost{
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        justify-content: center;
    }
    .one-two{
        display: flex;
        justify-content: center;
    }
    .three-four{
        display: flex;
        justify-content: center
    }
    .block-stoi{
        padding-left: 50px;
        padding-right: 50px;
        width: 70%;
    }
    .all-fut p{
        font-size: 12px;
        text-align: center;
    }
    .all-fut a{
        font-size: 12px;
        text-align: center;
    }
    .millions h3{
        font-size: 40px;
    }
    .form-pod p{
        margin-left: 15px;
        font-size: 14px;
    }
    .form-pod h2{
        font-size: 30px;
        text-align: center;
    }
}